.leaseInfoList.byTenant {
    display: flex;
    flex-direction: column;
}
.leaseInfo.byTenant, .leaseInfoList > .head  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: .5rem 0;
    border-top: thin solid #cccccc;
    border-bottom: thin solid #cccccc;
}