.cardContext {
  border: thick solid red;
  width: 300px;
  display: block;
  position: relative;
}

.property-body:not(.occupied) {
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    background: green;
    opacity: .2;
    height: 100%;
    width: 100%;
    content: '';
  }

  &:after {
    content: 'Available!';
    transform: rotate(-30deg);
    font-weight: bold;
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
  }
}

.property-body {
  &:focus-within, &:hover {
    transform: scale(1.05);

    > button {
      background: white;
      opacity: .5;
    }
  }
}

.cardContext .property-body {
  transition: transform .3s;


  > .head {
    height: 200px;
    background: blue;
    color: white;

    .title {
      padding: .5em;
      font-size: 2rem;
    }
  }

  > button {
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
    transition: opacity .3s;
    cursor: pointer;
  }
}

.infoGroup {
  display: flex;
  flex-direction: row;

  &.address_rent {
    border: thick solid green;
    display: flex;
    justify-content: space-between;

    .address {
      white-space: pre-wrap;
    }
  }

  &.sqftMetrics {
    border: thick solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > * {
      border: thick solid black;
    }

    .sqft { border-color: mediumvioletred;}

    [data-unit]:after {
      content: ' /' attr(data-unit);
      font-size: .75em;
      opacity: .75;
    }

    .price-sqft-mo { border-color: paleturquoise;}

    .price-sqft-yr { border-color: antiquewhite;}
  }
}