.cardContext {
  width: 300px;
  display: block;
  position: relative;
}

.property-body:not(.occupied) {
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    background: green;
    opacity: .2;
    height: 100%;
    width: 100%;
    content: '';
    pointer-events: none;
  }

  &:after {
    pointer-events: none;
    content: 'Available!';
    transform: rotate(-30deg);
    font-weight: bold;
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
  }
}

.property-body {
  border: thin solid #eee;

  &:focus-within {
    .title { text-decoration: underline }

    border-color: desaturate(lighten(#c71585, 30%), 50%);
    border-width: 2px;
  }

  &:hover {
    border-color: desaturate(lighten(#c71585, 30%), 50%);
    border-width: 5px;
  }

  &.active {
    border-color: #c71585;
    border-width: 5px;
  }

  &:focus-within, &:hover, &.active {
    transform: scale(1.05);

    > button {
      background: white;
      opacity: .5;
    }
  }
}

.cardContext .property-body {
  transition: transform .3s;


  > .head {
    height: 200px;
    background: rgba(#ccc, .3);
    color: white;

    .title {
      padding: .5em;
      font-size: 2rem;
      background: rgba(#333, .7);
    }
  }

  > button {
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
    transition: opacity .3s;
    cursor: pointer;
  }
}

.infoGroup {
  display: flex;
  flex-direction: row;
  padding: .5rem;

  &.address_rent {
    display: flex;
    justify-content: space-between;
    background: rgba(173, 216, 230, 0.35);

    .address {
      white-space: pre-wrap;

      > div:first-child {
        font-weight: 700;
      }

      > div:nth-child(2) {
        font-weight: 300;
        opacity: .6;
      }
    }

    .baseRent {
      font-weight: 500;
    }
  }

  &.sqftMetrics {
    background: rgba(173, 216, 230, 0.15);
    border-top: thin solid #ccc;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sqft {
      border-color: mediumvioletred;
    }

    [data-unit] {
    }

    [data-unit]:after {
      display: block;
      text-align: right;
      content: ' /' attr(data-unit);
      font-size: .75em;
      opacity: .75;
    }

    .price-sqft-mo { border-color: paleturquoise;}

    .price-sqft-yr { border-color: antiquewhite;}
  }
}