.app {
    height: 100vh;
}

.appHeader {

}

.propertyCardListContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.propertyCardList {

}

.propertyLeaseListContainer {

}